<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547989226180-1tjc8jpd48v4lk4vr4rk5d90om7of5qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547989226180-1tjc8jpd48v4lk4vr4rk5d90om7of5qu</string>
	<key>API_KEY</key>
	<string>AIzaSyCKnM74xgOmqlba7uXzKjBSDFPe-WBAaXs</string>
	<key>GCM_SENDER_ID</key>
	<string>547989226180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatvista.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatvistaa</string>
	<key>STORAGE_BUCKET</key>
	<string>chatvistaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547989226180:ios:6dc64084686f14025d7f91</string>
</dict>
</plist>